[2016-03-17 22:59] usmanm opened #1 "Add support for producing messages"

[2016-03-17 22:59] usmanm opened #2 "Add tests"
Including tests for broker failures

[2016-03-17 23:01] usmanm opened #3 "Incompatible with librdkafka > 0.8"
[code]

[code]

[code]

5 brokers, 8 partitions, 2 replication factor, CentOS 6.

[2016-03-19 19:16] sutram opened #4 "Auto start kafka consumer when PipelineDB restarts"
If PipelineDB is stopped and started and the Kafka consumer was running, the consumer has to be restarted manually after the restart. It would be great if the consumer were to automatically start

[2016-03-19 19:24] sutram opened #5 "Better way to deal with unusual JSON data"
Currently JSON data that contains escaped invalid characters has to be dealt in an unusual way by this extension. For example, the following JSON

{"playback_viewId": "**\x**22cGF0aFVSST0lMkZMSVZFJTJGMTAwNiUyRnNzJTJGcHIlMkZBTUNfSEQuaXNtbCUyRiomcGF0aFVSST0lMkZjZG4lMkZpbWFnZXNlcnZlciUyRiomcGF0aFVSST0lMkZjZG4lMkZlcGdzJTJGKiZwYXRoVVJJPSUyRmNkbiUyRm5tZCUyRiomcGF0aFVSST0lMkZjZG4lMkZuYXRpb25hbG5hdmlnYXRp

[2016-03-19 19:27] sutram opened #6 "JSON records need newline"
Currently, JSON records that are produced to Kafka and consumed by pipeline_kafka need a newline otherwise the kafka consumer throws an error complaining about invalid JSON.

[2016-03-19 22:33] sutram commented on #6
This can be closed. It works with the latest pipeline_kafka

[2016-03-21 00:29] #6 closed, assigned to nobody

[2016-03-24 01:09] #1 closed, assigned to nobody

[2016-03-24 16:20] usmanm commented on #3
This seems to be fixed by `librdkafka` 0.8. The following error also seemed to have disappeared and might be the culprit.

[code]

[2016-03-28 20:32] usmanm opened #8 "Offsets for partitions not being properly loaded"
I executed kafka_consume_end and after that did this:

[code]

Then I executed kafka_consume_begin and I saw this in the log:

[code]

So something is screwed up during saving/retrieval of offsets and that could explain why I am getting such weird raw count numbers

(via @sutram)

[2016-03-28 21:36] usmanm commented on #8
@sutram: Did you by any chance provide a `start_offset` to `kafka_consume_begin` when you ran it after `kafka_consumer_end`?

[2016-03-29 14:02] #8 closed, assigned to usmanm

[2016-04-08 18:29] usmanm opened #9 "Unknown error in librdkafka causing data loss?"
Hi, PipelineDB encountered the following error last night:

[code]

And seems like it wasn't able to recover from it properly because I see that it lost 38464 events.
It would be nice to get better error output and also I am puzzled that it lost data. It recovered from this error so my assumption is that it would just start from the offset where it left off across all partitions.

via @sutram

[2016-04-18 17:27] usmanm opened #10 "Document producer support"

[2016-04-19 18:29] usmanm opened #11 "Handle case when number of partitions is dynamically increased"
Currently stopping and starting the consumer again should work.

[2016-04-28 10:00] usmanm opened #12 "Move everything to pipeline_kafka schema"

[2016-05-05 00:06] #10 closed, assigned to nobody

[2016-05-05 01:38] #12 closed, assigned to usmanm

[2016-05-06 22:40] loadzero opened #13 "Add mutex into kafka logging callback"
elog gets sad when called from multiple threads

[2016-05-06 23:20] #13 closed, assigned to nobody

[2016-05-07 17:48] usmanm opened #14 "Use SPI to modify metadata tables and create pkey and fkey constraints"

[2016-05-08 19:59] #14 closed, assigned to nobody

[2016-05-10 21:02] usmanm opened #15 "Load via shared libraries"
And request additional shmem space

[2016-05-10 23:30] #15 closed, assigned to nobody

[2016-05-11 15:28] devsschmidt opened #16 "pipeline_stream_fn.h missing"
hi,

i'm currently trying to compile this extension to add it to my pipelinedb instance but i'm running in a problem neither i nor google seems to be able to solve.

when i execute **make** command i get the following error

`stc@vm:~/pipeline_kafka$ make
gcc -Wall -Wmissing-prototypes -Wpointer-arith -Wdeclaration-after-statement -Wendif-labels -Wmissing-format-attribute -Wformat-security -fno-st

[2016-05-13 23:14] usmanm commented on #16
Is `pipeline-config` on your `PATH`? It seems like the PipelineDB header files aren't visible in the shell you're running `make` from.

[2016-05-20 14:23] devsschmidt commented on #16
you are right i had a total chaotic approache. but i got it working with a structured step by step approach. you can find my script here

http://stackoverflow.com/questions/37181225/how-to-build-pipeline-kafka-extension

in case anyone runs into similar problems

[2016-05-20 15:32] usmanm commented on #16
Awesome! Thanks for documenting the process!

[2016-05-20 15:32] #16 closed, assigned to nobody

[2016-05-24 20:09] eterps opened #17 "SELECT kafka_add_broker('localhost:9092') returns function kafka_add_broker(unknown) does not exist"
After following the instructions in https://www.pipelinedb.com/blog/sql-on-kafka
When I execute `SELECT kafka_add_broker('localhost:9092');` in the pipeline console (as suggested by the blog post), I get:

[code]

[2016-05-24 20:53] usmanm commented on #17
We changed the API a little in version 0.9.1. The function now is `pipeline_kafka.add_broker(host text)`. You can find up-to-date documentation at: http://docs.pipelinedb.com/integrations.html#apache-kafka. I'll update the SQL on Kafka post to reflect that as well.

[2016-05-24 20:53] #17 closed, assigned to nobody

[2016-05-26 21:51] johnistan opened #18 "Broker disconnects cause database to crash."
This is using the latest dockerfile in pipelinedb.

Pipeline: 9.2
librdkafka: 0.8
kafka brokers: 0.9.0.1

[code]

[2016-05-26 21:59] johnistan commented on #18
is this a 0.9 kafka issue? what version of brokers do you support?

[2016-05-26 23:49] usmanm commented on #18
Unsure what's causing this. I'll look into it and report back.

[2016-05-29 20:28] vryzhov commented on #5
I am stuck with the same problem, but can't use the solution suggested here.

The kafka topic is in JSON with certain elements coming from MaxMind database  Some of the "isp" entries of this database have double quotes inside the field. They are all properly escaped by backslashes upstream. For example,  I see `"isp":"OJSC \"Vimpelcom\""` when pulling the topic in kafkacat.

The stream is defined

[2016-05-29 20:37] derekjn commented on #5
We should definitely just add a `'json'` format. I'm prioritizing this and should have a fix out today.

[2016-05-29 20:55] vryzhov commented on #18
Two (different) instances of Segmentation fault. Maybe related to the reported issue.

#

`Segmentation fault (PID 15086)`
`version: PipelineDB  at revision  on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4, 64-bit backtrace:`
`pipeline-server: bgworker: [kafka consumer] ip_stream <- kafka_topic  (debug_segfault+0x15)[0x60eb65]`
`/lib/x86_64-linux-gnu/libc.so.6(+0x36d4

[2016-05-29 21:09] derekjn commented on #5
Also, @vryzhov you can still use `format = 'csv'` with the above settings to work around this. In this case, `csv` is kind of a misnomer and has no actual relation to using commas as delimiters.

[2016-05-29 23:35] usmanm commented on #18
Is there someway I can repro this?

[2016-05-30 00:49] #5 closed, assigned to derekjn

[2016-05-30 01:20] vryzhov commented on #5
Hey @derekjn, Thanks for the fix and suggestions to use csv. I'll give it a try and report back.

[2016-05-30 01:34] derekjn commented on #5
No problem @vryzhov, now you can just use `format := 'json'`.

[2016-05-30 01:49] vryzhov commented on #5
I have just tested it and everything seems to be working just fine. Thanks for fixing it so quickly!

One small detail.
I do not specify the delimiter in the call `pipeline_kafka.consume_begin()`,
but every time I start the consumer, there is a warning message in the log:
`WARNING:  delimiter cannot be specified with format "json", ignoring`.

While we are on it, are there any plans to add the eve

[2016-05-30 01:53] derekjn commented on #5
Ah, that is a harmless warning.

And log format is highly configurable in `pipelinedb.conf`. To prefix each line with a timestamp, you can do this in `pipelinedb.conf`:

[code]

[2016-05-30 02:04] vryzhov commented on #18
I have restated the consumer with format = 'json'  and have not seen any errors so far. Our payload is quite big, the message of  ~ 20K-30K characters is not unusual, sometimes even bigger. It could be some buffer overflow when `format = 'text', but I am speculating.

I'll keep watching the stream overnight and update the thread.

[2016-05-30 02:28] vryzhov commented on #5
Awesome!  Thank you so much!!

[2016-05-31 20:52] vryzhov commented on #18
I have been watching it for some time now, but can't pinpoint the source of error.
Below are some observations that may be helpful:

`1.` Segfault are sporadic, but almost always occur after `Receive failed: Disconnected` message as reported by @jofusa
`2.` Not each "Receive failed" is followed by an error. There are some extended periods when the system works fine despite of these Disconnects
`3.

[2016-06-01 00:20] usmanm commented on #18
Thanks so much for postmortem report @vryzhov! I'll look into this tomorrow and report my findings + fix the issue.

[2016-06-01 03:24] loadzero commented on #18
Hi @vryzhov, this could possibly be a memory leak issue, as I am currently looking at this also. To determine this, you can use htop and look at the memory being consumed. If it continually increases, then there is a leak.

You may also get messages like this in your kernel ring buffer:

[code]

[2016-06-01 03:54] vryzhov commented on #18
Yes, you are right, I can see out of memory errors

`~$ dmesg |grep Killed`
`[2772235.351863] Killed process 7616 (pipeline-server) total-vm:39943008kB, anon-rss:30437932kB, file-rss:145176kB`
`[2772235.364636] Killed process 7618 (pipeline-server) total-vm:39943008kB, anon-rss:30438628kB, file-rss:145332kB`
`[2795265.537487] Killed process 14854 (pipeline-server) total-vm:40008584kB, anon-rss:304

[2016-06-01 14:51] usmanm commented on #18
This explains the magic 10 minute interval you're seeing: https://github.com/edenhill/librdkafka/issues/437

[2016-06-01 17:11] johnistan commented on #18
Thanks for digging. Can we confirm the failure is a memory leak. The 10
minute logging seems like a nuseance but not fatal.

On Wed, Jun 1, 2016, 8:51 AM Usman Masood notifications@github.com wrote:

[2016-06-01 17:12] vryzhov commented on #18
@usmanm: Thank you for the link and reference on librdkafka page

Here are more logs illustrating `palloc()` error.

`[2016-06-01 03:58:57.521 PDT] LOG:  00000: [kafka consumer] qos_stream <- geoip-annotated.3 failed to process batch, dropped 3000 messages:`
`[2016-06-01 03:58:57.521 PDT] LOCATION:  kafka_consume_main, pipeline_kafka.c:919`
`[2016-06-01 03:58:57.521 PDT] ERROR:  XX000: invalid mem

[2016-06-01 17:13] usmanm commented on #18
I'm trying to repro the memory leak, but that doesn't seem like the issue being causes by the timeouts. The segfaults I think are being causes by the Postgres logging system not being thread safe (even though there's a mutex about the elog function call).

[2016-06-01 17:14] usmanm commented on #18
@vryzhov: Could you give me details of your setup? # of brokers, # partitions and parallelism in pipeline_kafka.consume_begin?

[2016-06-01 17:16] vryzhov commented on #18
3 brokers, 3 partitions, parallel = 1

[2016-06-01 17:26] vryzhov commented on #18
@usmanm: I suspected that there is something weird with the logging. Log messages are not always the same  - some of them may go missing. Last night I added some tracing in the code by calling `elog()`. There is no consistency in the results - some messages may be there and some not.

[2016-06-01 17:50] usmanm commented on #18
I'm still trying to repro the segfault and memory leak. Once @loadzero gets in, I'll ask him to help me repro the leak. These broker disconnects happen during idle periods?

[2016-06-01 18:04] johnistan commented on #18
In my example it was during high load. Replaying a consumer from the start
of a topic.

On Wed, Jun 1, 2016, 11:50 AM Usman Masood notifications@github.com wrote:

[2016-06-01 18:34] usmanm opened #20 "consumer_logger isn't thread safe"
Having a mutex around `elog` doesn't fix the problem. This is causing the segfaults and database crashes.

/cc @jofusa @vryzhov

[2016-06-01 18:51] vryzhov commented on #18
I also was replaying from the beginning. Still catching up

Sent from my iPhone

[2016-06-01 18:54] usmanm commented on #18
I'm going to push a fix out in a bit!

[2016-06-01 19:42] vryzhov commented on #18
@jofusa Illustration of the memory leak: free memory in 5 sec intervals. Crashes are due to Segfaults
![image](https://cloud.githubusercontent.com/assets/15526164/15723137/f9a34914-27f5-11e6-9d6b-c4c33ca759b3.png)

[2016-06-01 21:25] #20 closed, assigned to nobody

[2016-06-01 21:26] #18 closed, assigned to usmanm

[2016-06-01 21:26] usmanm opened #22 "Memory leak in consumer procs"
Some details in #18

[2016-06-01 21:27] usmanm commented on #18
Can you guys try building the `master` branch and see if that resolves the segfault issue?

[2016-06-01 21:59] vryzhov commented on #18
Will do later today.

On Wed, Jun 1, 2016 at 2:27 PM, Usman Masood notifications@github.com
wrote:

[2016-06-02 05:02] vryzhov commented on #18
I have it running for a little over 2 hours by now. It all looks pretty awesome so far. No issues at all. Memory is stable. I see "Receive failed: Disconnected" messages in the log, but there are none of segfaults. I'll keep it running overnight and report tomorrow.

[2016-06-02 07:10] usmanm commented on #18
Great, let me know if you see any issues!

[2016-06-02 21:11] vryzhov commented on #18
Everything is working flawlessly. No issues at all since my last comment.
@usmanm, @loadzero, Thank you so much for the quick response and the awesome work you do!!

[2016-06-02 21:14] usmanm commented on #18
You're welcome! Happy to hear things are working smoothly now. Thanks for all your help in figuring this out!

[2016-06-09 03:24] sutram opened #23 "Workers that exit no longer allow Pipeline to consume from certain partitions"
I saw the following in the log:

[code]

Once the worker exits , the partition may no longer be consumed. I assume this is equivalent to data loss since that partition will no longer be consumed

[2016-06-09 21:50] #23 closed, assigned to nobody

[2016-07-06 04:44] uptakechancock opened #24 "Memory issue when trying to process JSON data"
I am following the instructions on the blog: https://www.pipelinedb.com/blog/sql-on-kafka. My applications usage is pulling data off of a consumer and getting message counts similar to the blog example.

All the SQL commands from the article execute as expected however after I execute the SQL function pipeline_kafka.consume_begin and then run on the continuous view a select \* I see no results.

I

[2016-07-06 05:25] derekjn commented on #24
Thanks for providing additional information on Gittr @uptakechancock. We're looking into this and will report back here when we know what's going on.
- PipelineDB 0.9.3 (AMZN RPM)
- `pipeline_kafka` `master`

[2016-07-06 16:54] derekjn commented on #24
What's going on here is that we're not accounting for large messages as well is we should be.

[2016-07-06 16:59] #22 closed, assigned to nobody

[2016-07-06 18:47] uptakechancock commented on #24
So can I understand this a little better... Is this a size limit on any text that is being inserted via copy or is this a size limit when parsing on JSON based data?

Also what is that current limit?

[2016-07-06 18:56] uptakechancock commented on #24
Sorry,

When you say that this is a delimeter issue I am a little confused. If you
look at the sample rawdata that I have provided you see something like so.

{"attributes":{"data":"[{\

At this point you see this massive json array of timestamp and value key
pairs. Now the key I can confirm that the array is being fully encapsulated
in [], however at that point there are still a few more attribut

[2016-07-06 19:02] usmanm opened #26 "Investigate new high level consumer in librdkafka"

[2016-07-06 19:12] usmanm commented on #24
Hey @uptakechancock, we think the problem wasn't with offsets but `pipeline_kafka` not properly handling very large messages and running out of memory. I just pushed a commit which adds a new configuration parameter `maxbytes` (defaults to 32mb) which forces a `COPY` after either `batchsize` messages have been buffered or `maxbytes` data size has been buffered. Can you re-run your workload and see

[2016-07-06 21:29] uptakechancock commented on #24
Thank you so much. To confirm the maxbytes option is this passed to the SQL
function SELECT pipeline_kafka.consume_begin

On Wed, Jul 6, 2016 at 2:12 PM, Usman Masood notifications@github.com
wrote:

[2016-07-06 21:30] usmanm commented on #24
Yes, it's passed to that function. Did this resolve your issue?

[2016-07-06 22:42] uptakechancock commented on #24
I just tried this and yes it does resolve my issue I am no longer seeing memory usage issues in my logs.. Just curious thought if you have any recommendation on what to set this too. As you our aware my payload is somewhat large and want to size this data appropriately. I want to try to avoid this consumer getting behind in lagging because this is not sized to handle the current message sizing.

L

[2016-07-06 22:44] usmanm commented on #24
Depends on how much memory your machine has. `pipeline_kafka` could use up to 2x the `maxbytes` memory, so however much spare memory you think you have. You don't want to allocate too much memory and starve other PipelineDB processes or worse start swapping.

The default is from the end. You can change it by specifying the `start_offset`. See [here](http://docs.pipelinedb.com/integrations.html#con

[2016-07-06 22:44] #24 closed, assigned to nobody

[2016-08-18 08:06] usmanm opened #27 "Unable to parse valid Json"
Hi,

I am evaluating PipelineDB and hooked it up to a Kafka stream generated by golang's marshaller. So far, no tool had any issues with the JSON, however PipelineDB is acting up on JSON like:

[code]

There seems to be double-unescaping going on.

/cc @sixtus

[2016-08-20 15:48] usmanm opened #28 "consume_begin_stream_partitioned"
Create a `consume_begin_stream_partitioned` function which reads from a topic and emits events into streams based on the message key.

[2016-08-20 18:41] derekjn commented on #2
Just run Kafka within Docker for this.

[2016-08-22 20:55] #28 closed, assigned to usmanm

[2016-09-07 18:19] derekjn opened #30 "HA consumer"
We'll probably want to store offsets in Kafka. Ideally redundant consumers can all be running in parallel, and one will take over when another one fails. Can we leverage Kafka/ZK for detecting a failed consumer?

[2016-09-18 00:22] don41382 opened #31 "catalog/pipeline_stream_fn.h not found on mac"
I installed the pipelineDB 0.9.5 as a osx package. Afterwards I wanted to install the kafka extension. No dice after running make:

[code]

How can I link the missing header files `catalog/pipeline_stream_fn.h'`?

[2016-09-18 02:22] don41382 commented on #31
Finally, I figured out what the problem was. My postgreSQL pg_config was used in the Makefile. Additionally librdkafka.a was in a different directory than specified.

My diff to make it work on my mac:

[code]

[2016-09-20 07:50] zhyueh opened #32 "copy error after pull message well for quite a long time"
pipeline kafka report an error 'ERROR : column "" of "stream k_stream" does not exists'.
it happen after I have pull message into pipeline db very well for a few days.
btw there is no "" column in k_stream at all, and the steam k_stream do not modify during these days.
when I got the error report, it would run without any problem after execute consume_end and   consume_begin,  how does this happen

[2016-09-20 16:25] derekjn commented on #32
Hi @zhyueh,

Just to clarify, no new columns were added to `stream_k` via `ALTER STREAM` during Kafka consumption?

[2016-09-21 02:30] zhyueh commented on #32
Hi @derekjn
There is no new columns were added to stream.
I found that one of my specify scripts executing drop other tables (not including this stream ) just right before this error happen. And I hope this may have a little help.

[2016-09-23 03:30] derekjn commented on #32
@zhyueh can you provide us with any SQL, such as your stream definitions and the scripts that drop other tables, to help reproduce this issue?

[2016-09-23 15:13] zhyueh commented on #32
@derekjn
yes, i have drop u an email attached scripts.

[2016-09-27 21:43] #3 closed, assigned to derekjn

[2016-09-27 21:43] #30 closed, assigned to nobody

[2016-09-27 21:44] #11 closed, assigned to nobody

[2016-09-27 21:44] #26 closed, assigned to nobody

[2016-09-27 21:45] usmanm opened #33 "Use the new high-level balanced consumer"
`KafkaConsumer` in http://docs.confluent.io/2.0.0/clients/librdkafka/rdkafka_8h.html

Noteworthy points:
- Transparently detects change in partitions and starts consuming from new ones
- Makes this library compatible with `pipeline_cluster`
- Start using the `master` branch of `librdkafka`
- No need for maintaining out local `pipeline_offsets` table, instead that should be a `VIEW` over the offset

[2016-09-28 20:32] derekjn commented on #27
@sixtus I don't think there's any issue here, at least without having more information about how these messages are being produced. We're happy to keep looking at this if you can provide exact repro steps/scripts that we can use on our end to determine if there's a problem or if this is expected behavior.

Also are you referring to the `pipeline_kafka` producer or consumer here?

[2016-09-28 21:24] sixtus commented on #27
I am talking about consumer.

Simply put above json into a kafka stream and configure an intake. Should not be very hard to reproduce.

[2016-09-28 21:27] sixtus commented on #27
The json is trivial, so it should not matter how they are produced. But if you must now, it's golang's serializer. But I just verified, ruby serializes the string this way too. And it's according to JSON specs.

[2016-09-28 21:42] derekjn commented on #27
Hmm, and you're using `json` mode? e.g. something like:

[code]

If you're not specifying `json` as the format, that's probably the issue here because the default interpretation is `text`.

[2016-09-28 21:48] sixtus commented on #27
It's been a while since I ran the test. But since I was following https://www.pipelinedb.com/blog/sql-on-kafka I likely did not do that. You might want to fix up that article, it's the first thing google brings up.

Which is especially confusing as the `->>` operator works w/o `format := 'json'`

[2016-09-28 21:57] derekjn commented on #27
Good suggestion, fixed!

The consumer format is actually a bit different than a type, so the `->>` does only actually work on `json` values. So you can consume in `text` format and if your stream is `json`, it will be casted to `json` by the time that operator is applied to it. I can understand how this can be potentially confusing when dealing with only `json` values, but imagine consuming in `te

[2016-09-28 21:57] #27 closed, assigned to derekjn

[2016-09-29 00:32] #2 closed, assigned to derekjn

[2016-09-29 17:48] derekjn opened #35 "Add consumer group mode"

[2016-09-30 00:44] usmanm opened #37 "Add support for discovery via ZK"

[2016-09-30 15:16] derekjn commented on #37
I'm going to add this in as part of consumer failover since it also just uses watches.

[2016-09-30 18:14] #35 closed, assigned to derekjn

[2016-10-03 22:54] derekjn opened #40 "ERROR: tuple already updated by self"
Saw this when starting up multiple `topic` `->` `stream` consumers:

[code]

[2016-10-06 04:59] vinaygulani1 opened #41 "Need help (Can't see any message count on continuous view)"
Hi,
I am new to pipelinedb, not able to see any message count on continuous view. I have followed the instructions given.
1. Created kafka topic "test" and produced few text messages to it.
2. added broker "localhost:9092" to pipeline_kafka.
SELECT pipeline_kafka.add_broker('localhost:9092');
3. created topic_stream and called consume begin from test topic.
SELECT pipeline_kafka.consume_begin('tes

[2016-10-06 05:31] derekjn commented on #41
Hi @vinaygulani1,

By default `consume_begin` will begin consuming only new messages written to Kafka. To consume old messages, you can specify a `start_offset`:

[code]

[2016-10-06 06:20] vinaygulani1 commented on #41
I tested by producing more messages to topic, but still it was showing count as 0.

This seems to a kafka-version incompatibility. Pipelinedb log says:

LOG:  [pipeline_kafka] topic_stream <- test (PID 2867): librdkafka error: localhost:9092/0: Protocol parse failure at rd_kafka_fetch_reply_handle:3829 (incorrect broker.version.fallback?)

I am using kafka version 0.8.2.2. It seems I need to set "

[2016-10-06 06:28] derekjn commented on #41
Try using the `0.8.2.2` branch of `pipeline_kafka`. Then in `pipelinedb.conf`, set

[code]

[2016-10-06 06:56] vinaygulani1 commented on #41
Using this version is looking for zookeeper_mt library:

[code]

[2016-10-06 08:18] derekjn commented on #41
If you're on Ubuntu you can install `zookeeper_mt` with:

[code]

[2016-10-06 08:28] vinaygulani1 commented on #41
I am using centos. So could not install using yum. But following this link I was able to install it in centos:
https://apache.googlesource.com/zookeeper/+/refs/heads/trunk/src/c/README

But getting follwing errors on running make command on it:

[code]

[2016-10-06 08:37] derekjn commented on #41
You need to use a newer version of `librdkafka`. Try `0.9.1`.

[2016-10-06 09:24] vinaygulani1 commented on #41
Thanks, I am able to install using newer `librdkafka` version.
But, It is now expecting shared object: libzookeeper_mt.so

[code]

pipelinedb.conf

[code]

[2016-10-06 16:45] derekjn commented on #41
A few questions:
- Is `libzookeeper_mt` on your system's `LD_LIBRARY_PATH`?
- Did you run `make install` `libzookeeper`?
- Did you run `ldconfig`/`sudo ldconfig` after running `make install` so that your system can see the newly installed library?

[2016-10-06 16:46] #33 closed, assigned to derekjn

[2016-10-06 16:46] #37 closed, assigned to nobody

[2016-10-06 16:56] usmanm opened #42 "pipeline_kafka rewrite"
We're going to keep the `0.8.2.2` branch alive for Kafka 0.8. The `master` branch is only going to be compatible with Kafka 0.9+.

The new `pipleline_kafka` will have have a completely new API. Some notes about the implementation and features:
- Broker discovery via Zookeeper
- Offsets will be stored in Kafka, probably backed in PipelineDB as well for usability purposes
- The new Consumer API (con

[2016-10-06 17:52] derekjn commented on #42
This all sounds good to me. Regarding replay, I think an ephemeral bgworker (or maybe a group of them) will work just fine for that.

The other important thing I think we need to address is packaging. The ZK client library is a huge pain to install on non-Ubuntu systems. There just happens to be an `apt` repo for `zookeeper_mt`. Building and installing `librdkafka` is easy and clean, but `zookeepe

[2016-10-06 22:29] vinaygulani1 commented on #41
Thanks @derekjn, I installed libzookeeper and it worked.

[2016-10-06 22:39] derekjn commented on #41
Awesome! Let us know if you need any more help :)

[2016-10-06 22:39] #41 closed, assigned to nobody

[2016-10-07 18:57] derekjn commented on #4
Bumping this up, higher prio now.

[2016-10-08 04:01] usmanm commented on #40
Vinay @vinaygulani1 19:00
@usmanm thanks. I am getting an error "ERROR: tuple already updated by self
LOG: worker process: [kafka consumer] stream <- topic (PID 4171) exited with exit code 1. "

[2016-10-08 04:02] usmanm commented on #40
This seems like a bug introduced recently with the consumer group stuff. Hadn't seen it before.

[2016-10-08 16:22] derekjn opened #43 "Failed to load Kafka Extension: Undefined Symbol IsInferredStream"
I am trying to load the Kafka Extension within docker. When I call

`CREATE EXTENSION pipeline_kafka;`

I get the following error:

[code]

This is the Dockerfile I am using:

[code]

and the pipelinedb.conf file is a default config with kafka added to the extensions list, it is here: https://gist.github.com/jamesmintram/26ed20e6685ed066fd25d54bd5777801

[2016-10-08 16:24] derekjn commented on #43
Hi @jamesmintram, can you use the `master` branch of `pipeline_kafka`?

[2016-10-08 17:02] jamesmintram commented on #43
OK thanks. That worked.

Weirdly I could not find "IsInferredStream" anywhere!  Google and Github failed me.

[2016-10-08 17:03] derekjn commented on #43
Great! `IsInferredStream` was a function that was removed in PipelineDB 0.9.5.

[2016-10-08 17:03] #43 closed, assigned to nobody

[2016-10-12 11:51] AndreyNudko opened #44 "Deadlock in consume_begin"
I have a maintenance script which periodically restarts several consumers from latest kafka offset:

[code]

Sometimes this results in the following:

[code]

13961:
- holds ExclusiveLock on brokers
- tries to get ExclusivLock on consumers (from consume_begin)

13958:
- holds ExclusivLock on consumers
- tries to acquire ExclusivLock on brokers

After browsing through code I think the problem is be

[2016-10-12 14:26] usmanm commented on #44
We should probably downgrade the lock for `get_all_brokers()` to be an `AccessShareLock`. I'll send out a fix today.

[2016-10-12 16:01] derekjn opened #45 "is_zk_lock_held incorrectly returns false on error"
If the `zoo_exists` call fails in `is_zk_lock_held` as the result of a transient error, `is_zk_lock_held` will incorrectly return `false`, causing the caller to potentially wait on itself for a new lock. We should retry a few times instead, and if a definitive lock check can't be completed, the process should error out.

[2016-10-12 16:02] #45 closed, assigned to derekjn

[2016-10-13 21:16] usmanm opened #48 "Ignore non-existent streams in stream partitioned mode"

[2016-10-18 00:47] #44 closed, assigned to nobody

[2016-10-18 00:47] #48 closed, assigned to nobody

[2016-10-18 02:37] usmanm commented on #42
We might have to bump this up since currently the way our paralellism works will cause a latency of `parallelism * timeout`. This is because each partition is consumed independently and we wait for `timeout` when polling each partition. Super low timeouts burn a lot of CPU so that's not a fix.

[2016-10-19 05:52] usmanm opened #49 "Tests for producer"

[2016-10-19 08:09] #49 closed, assigned to nobody

[2016-10-28 21:56] usmanm commented on #42
For replay, we can probably start off by just running the replay code in the client process.

[2016-11-07 20:57] vinaygulani1 commented on #40
Any news on this.
@usmanm would you like to have a quick chat on this and see if I can make the changes necessary. Please let me know.

[2016-11-18 17:51] derekjn opened #50 "Release packages"
Another good option is to just include `pipeline_kafka` with core, which doesn't really have a downside.

[2016-11-20 03:59] derekjn opened #51 "Rework Kafka -> COPY path"
After https://github.com/pipelinedb/pipelinedb/issues/1596 we can't rely on `copy_iter_hook` to pass messages into `COPY`. Some approaches we can use instead:

* Write batches to temp file(s) and pass paths to `COPY` (simple but potentially slow)
* Project rows and write directly to queues via ZMQ (fast but duplicates parsing/deserialization logic that `COPY` already performs)

The second approach

[2016-11-20 04:02] usmanm commented on #51
What about mmap'd files?

[2016-11-20 04:21] derekjn commented on #51
I don't think there's any guarantee that they'd be faster than regular disk-backed files. Unless I'm mistaken, `mmap` maps addresses on disk to memory addresses, but doesn't necessarily guarantee that all of the file's contents are kept in memory.

That being said, if we go with the first option we'd want to use `mmap`. I just don't think it's fundamentally different performance-wise, especially s

[2016-11-25 02:11] derekjn commented on #50
https://github.com/pipelinedb/pipelinedb/issues/1709

[2016-11-25 02:11] #50 closed, assigned to derekjn

[2016-11-27 21:49] #31 closed, assigned to nobody

[2016-12-04 18:40] derekjn commented on #32
This has come up again, and I believe it may be due to not copying the column name string here:

https://github.com/pipelinedb/pipeline_kafka/blob/master/pipeline_kafka.c#L827

I'm guessing that memory gets clobbered at some point, thus the strange column doesn't exist errors.

[2016-12-05 02:10] derekjn commented on #32
@zhyueh this should be fixed on `master` now, but please let me know if you see the error come up again. Apologies for taking a while on this one, it was extremely difficult to reproduce!

[2016-12-17 19:40] derekjn opened #52 "Memory leak?"
On the `0.8.2.2` branch we're seeing what appears to be a memory leak (screenshot attached), with allocations originating in a `librdkafka` (branch 0.9.1) thread. It only appears to happen during peak throughput, and it looks to me that we're properly deallocating messages when we're done with them, so this one has been a bit puzzling.

![massif](https://cloud.githubusercontent.com/assets/384666/2

[2016-12-17 20:41] derekjn commented on #52
I spoke with @edenhill on Gittr, and basically `librdkafka` will prefetch up to `queued.max.messages.kbytes` * `num_partitions` bytes of messages in memory. In this case we were seeing this behavior on a 90-partition topic, which with the default value for `queued.max.messages.kbytes` would yield queueing up ~`80GB` of messages in memory. Lowering that setting should resolve the issue.

[2016-12-17 22:06] #52 closed, assigned to nobody

[2016-12-18 02:17] derekjn opened #53 "Add parallelism to grouped consumer"
One consumer just needs to be responsible for the ZK lock. It can set a flag in shmem so other consumers can check it to verify that the lock is still held. If any consumer ever dies, all consumers should die.

[2016-12-19 00:50] derekjn opened #54 "Add node-level sharding to grouped consumer"
Consumers running across nodes should shard partitions across themselves.

[2016-12-19 05:06] derekjn opened #55 "Add lag monitoring"
Something like a view over a function call that compares the latest Kafka offsets to the consumer's processed offsets.

[2016-12-20 01:10] #53 closed, assigned to derekjn

[2016-12-20 05:46] simplesteph opened #57 "Improvements"
Hi,

We're giving this module a go but I have the following feedback:

- You're not using kafka boostrap brokers. This is now the standard way to discover all the brokers (only specify 2 or 3 and then the entire cluster is discovered). Adding all the brokers may not be a long term solution because brokers go up or down and IP / DNS are changing. See `pipeline_kafka.add_broker ( hostname text )`

-

[2016-12-20 16:46] derekjn commented on #57
Hi @simplesteph, thanks for the writeup! We actually have most of this stuff already in mind (see #42). And just to address one of your points:

This actually isn't true. `start_offset` is for passing special offsets such as `0` (beginning of topic), or `-1` (all new messages).

Closing as this is a duplicate of #42.

[2016-12-20 16:46] #57 closed, assigned to nobody

[2016-12-21 00:18] simplesteph commented on #57
Thanks @derekjn for the clarification

I believe the :
 - third bullet point I don't see mentioned in #42
 - fourth bullet point you're proposing to store offsets in Kafka which I'm a little bit against.
 - fifth bullet point I don't see it mentioned in #42

I'll add them to the issue there for issue tracking

[2016-12-21 00:19] simplesteph commented on #42
More suggestions:

- Kafka 0.10.1 has now the ability to map timestamps to offsets, (see offsetForTimes at https://kafka.apache.org/0101/javadoc/index.html?org/apache/kafka/clients/consumer/KafkaConsumer.html). It maps nicely to a where query with a "kafka_timestamp" and would be cool if pipelinedb incorporated that (you'll notice that the API returns a map of offsets per partition).

- I like the

[2016-12-21 01:42] derekjn commented on #57
@simplesteph awesome, thank you! Let's continue the discussion on #42.

[2016-12-21 15:02] devsschmidt opened #58 "UTC Timestamp doesnt work"
The following continuous view will not contain any data (unless you are already in UTC timezone) since the UTC Parameter doesnt seems to be applied to return value of clock_timestamp().

[code]
(Im working in Germany which puts my timezone at +0100 to UTC)
When i add the difference between my timezone and UTC to my interval ('65  Minutes'::INTERVAL)  it works.

What works, but still seems to be a

[2016-12-21 19:32] derekjn commented on #58
@devsschmidt thanks for reporting! Do yo mind moving this issue over to https://github.com/pipelinedb/pipelinedb/issues? Thanks!

[2016-12-22 07:48] devsschmidt commented on #58
done, issue has been moved

[2016-12-22 07:48] #58 closed, assigned to nobody

[2016-12-25 23:54] #32 closed, assigned to derekjn

[2017-01-07 19:13] #55 closed, assigned to derekjn

[2017-01-12 18:32] jayesh4192 opened #59 "Unable to read data from kafka"
I have setup pipelinedb with kafka extension and it works with example provided if I use localhost. When I use a different hosts for some reason it doesn't work, here is the error that I get when I say consume.begin -
ERROR:  [pipeline_kafka] kafka_perf_stream <- fact_performance_event (PID 25571): failed to acquire metadata: Local: Broker transport failure.
So to confirm that things are working c

[2017-01-12 21:29] derekjn commented on #59
Hi @jayesh4192, that's a `librdkafka` error you're seeing. Is there any more information in the Kafka broker logs around the time the error occurs? Also, have you verified that all of your brokers have been added using `pipeline_kafka.add_broker()`?

[2017-01-13 01:34] usmanm commented on #42
Thanks for the suggestions @simplesteph! Will incorporate them when writing the new client.

[2017-01-16 20:14] derekjn commented on #59
This seems like a broker connectivity issue, closing unless/until more information becomes available.

[2017-01-18 17:08] jayesh4192 commented on #59
Hi,

Sorry I was out so couldn't respond. I don't see any logs in broker. I tested with 2 setup, one with one broker and another with multiple brokers I do see the same issue.  As I mentioned, I am able to read the data through librdkafka using their client, for example -

[code]

Using pipelinedb with following steps, I don't see any data coming through -
[code]
.. I do see the error immediately

[2017-01-18 18:06] derekjn commented on #59
@jayesh4192 thanks for the follow up, we'll take a look!

[2017-01-20 00:39] nielsdraaisma opened #60 "Partition offsets ignored when using consume_begin()"
I have two consumers configured in pipelinedb and when starting both using consume_begin() it outputs

[code]

this output is different from when i start the consumers individually using consume_begin('xxx', 'xxx', batchsize := 100)
[code]

[2017-01-20 17:44] jayesh4192 commented on #59
Thanks Derek, do let me know if you need any information. I am trying to prototype this and show its potential.

[2017-01-26 00:25] jayesh4192 commented on #59
I debugged the issue from my end, firstly I dont see any connection opening up from pipeline db box to kafka. I took a tcpdump and I could not see any connections opening up. I was able to get metadata information using librdkafka from remote box, I copied working code to get metadata information from librdkafka example and I was still not able to make it work using pipelinedb. I suspect to do wit

[2017-01-26 02:38] derekjn commented on #59
Hi @jayesh4192, which version of Kafka are you running?

[2017-01-26 03:32] jayesh4192 commented on #59
I tried with these versions - kafka_2.11-0.10.1.0 and kafka-0.10.0.1.4

[2017-01-26 18:35] jayesh4192 commented on #59
We are building this pipeline for Yahoo and another person from another team faced same issue as me. Is there a way we can resolve this quickly?

[2017-01-26 18:50] derekjn commented on #59
Hi @jayesh4192, so far everything is pointing to a problem with the environment/configuration. We have a lot of users using `pipeline_kafka` with the versions you noted, and the error you're seeing is coming from the `librdkafka` library so unfortunately there isn't much we can do with the information provided. We're happy to help you get to the bottom of this if we can though...

What version of

[2017-01-26 19:07] derekjn commented on #59
You also might want to try setting `pipeline_kafka.broker_version` in `pipelinedb.conf` to your specific broker version. For example,

    pipeline_kafka.broker_version = '0.10.1.0'

[2017-01-27 21:50] sfkeller opened #62 "Kafka extension function pipeline_kafka.add_broker() always returns success"
By using the Kafka Extension the function “pipeline_kafka.add_broker ( hostname text )” always returns ’success’ in ANY case. Thus, the PipelineDB user assumes everything went well – which may be not the case at all. It seems that the input string (hostname) is not validated at all (no URL/URN pattern checking ...).

[2017-02-03 08:12] #54 closed, assigned to derekjn

[2017-02-03 08:13] derekjn commented on #59
@jayesh4192 did setting `pipeline_kafka.broker_version` help at all?

[2017-02-13 19:17] jayesh4192 commented on #59
This issue can be closed now, there was a conflict with linux kernel version of glibc with pipelinedb version. After fixing that I was able to resolve it.

[2017-02-13 19:17] #59 closed, assigned to nobody

[2017-02-13 22:17] derekjn commented on #59
Yikes, thanks @jayesh4192, nice find! If you think there's an issue with our build, please let us know at https://github.com/pipelinedb/pipelinedb/issues.

[2017-03-07 04:03] mmcalli opened #63 "ERROR: could not load library "/usr/local/lib/pipelinedb/lib/pipelinedb/pipeline_kafka.so""
I am having problems getting pipeline_kafka to work on OSX 10.12.3. I follow the instructions in the readme, and when I try to start up with `shared_preload_library` set, or create the extension, I get the following error:-

`ERROR:  could not load library "/usr/local/lib/pipelinedb/lib/pipelinedb/pipeline_kafka.so": dlopen(/usr/local/lib/pipelinedb/lib/pipelinedb/pipeline_kafka.so, 10): Symbol no

[2017-03-13 08:40] derekjn commented on #63
@mmcalli can you share the `./configure` output you get when building `librdkafka`? Here's how we build `librdkafka` for the `pipeline_kafka` that's included in our Docker image:

https://github.com/pipelinedb/pipelinedb/blob/master/pkg/docker/Dockerfile#L104

[2017-05-27 18:31] derekjn opened #64 "Support fixed-length prefix for partitioned consumer keys"
And just strip it off to get the stream name. This will allow us to spread streams across partitions.

[2017-05-27 18:40] #64 closed, assigned to nobody

[2017-06-26 13:38] luizkava opened #65 "No have group_id in my consume_begin function"
After installed the kafka_exetension 0.9.3, the function consume_begin does not appears the group_id option....
`pipeline_kafka.consume_begin(topic text, relation text, format text DEFAULT 'text'::text, delimiter text DEFAULT '	'::text, quote text DEFAULT NULL::text, escape text DEFAULT NULL::text, batchsize integer DEFAULT 1000, maxbytes integer DEFAULT 32000000, parallelism integer DEFAULT 1, ti

[2017-06-29 11:59] luizkava commented on #65
no one ?

[2017-06-29 19:27] derekjn commented on #65
@luizkava can you explain a bit more about what the problem you're having? If you installed this over an older version of `pipeline_kafka`, you might want to try dropping `pipeline_kafka` and then recreating it with the latest version installed.

[2017-07-03 13:21] luizkava commented on #65
Hi @derekjn , I have 2 servers with the same kafka version (I think), in the first server the function pipeline_kafka.consume_begin doesn't have the variable "group_id"...
How do I know the pipeline_kafka version ?

[2017-07-03 18:32] derekjn commented on #65
@luizkava you can check the version by entering `\dx` in a shell. But the problem you're having is that you have different versions of the extension installed, so you should just do a clean install and `CREATE EXTENSION` on each of your servers.

[2017-07-03 20:17] luizkava commented on #65
@derekjn I've seen the versions, and it's the same on the servers (0.9.3), but I'll try your suggestion.

[2017-07-03 20:34] derekjn commented on #65
@luizkava sounds good. If that doesn't work, just let us know and we'll keep at it until you're up and running.

[2017-07-04 19:29] luizkava commented on #65
@derekjn thanks a lot, it's worked... I removed and installed the extension again...

regards.

[2017-07-04 19:31] derekjn commented on #65
@luizkava great to hear! Let us know if you need anything else.

[2017-07-04 19:31] #65 closed, assigned to nobody

[2017-07-05 10:44] Sudmota opened #66 "pipeline_kafka.consume_begin returns "failure""
I have 3 topics, for all of them I execute:

`
CREATE STREAM <stream_name> (payload json);
SELECT pipeline_kafka.consume_begin('<topic_name>', '<stream_name>', format := 'json')
`

Two of them return "success", one returns "failure".

All queues are defined the same way in kafka.

Any idea of what cases might trigger this "failure" ?

[2017-07-05 12:20] luizkava commented on #66
@Sudmota  May you post the code you ran?

[2017-07-05 13:33] Sudmota commented on #66
Sure, @luizkava :

[code]

[2017-07-05 18:06] luizkava commented on #66
I'm not sure but try put the schema name in front of the stream name...

`SELECT pipeline_kafka.consume_begin('connection', 'pipeline_kafka.connection_stream', format := 'json');`

Did you see the  archive log on the server ?

[2017-07-05 18:07] derekjn commented on #66
@Sudmota also, do you see anything in the PipelineDB logs?

[2017-07-18 09:22] Sudmota commented on #66
Hey !

My fault, full disk. However, after ensuring that the disks are free, there are no networking issues, I cant subscribe more than 6 topics. However, I can unsubscribe one, to subscribe another, with success. Is there any limitation known (ie free version limitation) regarding this issue ?

[2017-07-18 15:54] derekjn commented on #66
@Sudmota can you provide more specifics here? e.g. how did the system inform you of this?

[2017-07-27 17:51] derekjn opened #67 "Kafka SSL"
(Moved from @michaelsauter https://github.com/pipelinedb/pipelinedb/issues/1827)

Is it possible to connect to Kafka via SSL?

http://docs.pipelinedb.com/integrations.html#apache-kafka does not mention anything so I assume it's not possible? That would be very handy though :)

[2017-07-27 17:55] derekjn commented on #67
@michaelsauter this should be possible, you'd just need to compile `librdkafka` with SSL support enabled, and then build `pipeline_kafka` against that version of the library. If you feel comfortable trying building these from source, we'd love to hear back from you regarding the results!

These things are fairly straightforward to build, but if you don't feel comfortable building things yourself,

[2017-07-27 18:08] michaelsauter commented on #67
@derekjn Sorry for opening the issue in the wrong repo & thanks for your quick reply!

I can take a shot at building it with SSL support. However, how would I configure `pipeline_kafka` to use my certs?

[2017-07-27 18:17] derekjn commented on #67
@michaelsauter oh please, don't worry about it!

This is kind of unexplored territory for us so I'm not actually completely sure. I think the right place to start is understanding how to configure [librdkafka for SSL](https://github.com/edenhill/librdkafka/wiki/Using-SSL-with-librdkafka) connectivity.

And then `pipeline_kafka` accepts a list of key-value pairs to pass to the `librdkafka` client v

[2017-08-02 08:13] michaelsauter commented on #67
Okay I tried to get this working but failed so far.

Here's what I tried:

* For some background, I already have SSL setup on the brokers and use it in consumers which are based on [ruby-kafka](https://github.com/zendesk/ruby-kafka). The SSL setup there is based on 3 files, see [client authentication](https://github.com/zendesk/ruby-kafka#client-authentication) for more details. This setup works.

[2017-08-22 07:14] michaelsauter commented on #67
@derekjn Any ideas what I could try to get this working? Would love to use PipelineDB but this is a show-stopper at the moment :/

[2017-08-22 15:13] derekjn commented on #67
@michaelsauter thanks for following up! I'll make some time to personally look into this over the next couple of days. I'll report back here soon, definitely this week.

[2017-08-22 19:01] derekjn commented on #67
@michaelsauter Quick update: we've reproduced the behavior you described so should have a resolution for you relatively soon. We also came across this issue in `librdkafka` while debugging:

https://github.com/edenhill/librdkafka/issues/1347

And it's possible that this issue is related to it. Anyways, we'll keep you posted!

[2017-08-22 19:56] derekjn commented on #67
@michaelsauter so this was most likely due to a bug causing the topic-level `librdkafka` configuration to be set by default, which caused your SSL settings to end up in an unexpected place. After fixing the bug (https://github.com/pipelinedb/pipeline_kafka/commit/85258504858e20485cfaac40556ca80677276921), we were able to verify that `pipeline_kafka` works over SSL. After adding an SSL listener:

[

[2017-08-22 20:00] derekjn opened #68 "Long consumer_config keys/values may be truncated"
They're split on via `SplitIdentifierString`, which assumes the given values are valid identifiers and truncates extra characters :(

[2017-08-23 07:43] michaelsauter commented on #67
@derekjn Thank you so much for looking into this! Awesome.

Unfortunately, I can't get to it in the next days, but will try it again next week and let you know if it worked.

Also thanks a lot for the tip regarding kafkacat, I haven't used it yet.

[2017-08-23 14:16] michaelsauter commented on #67
@derekjn Actually found some time to sneak this in today, I just had to try it out :) And it worked!

I used exactly what I described [above](https://github.com/pipelinedb/pipeline_kafka/issues/67#issuecomment-319601448).

[2017-08-23 15:04] derekjn commented on #67
@michaelsauter great to hear, our apologies for taking so long on this one. Let us know if you have any further issues here or with PipelineDB!

[2017-08-23 15:04] #67 closed, assigned to nobody

[2017-09-18 10:15] michaelsauter commented on #40
@derekjn Any updates on this one? Seeing this pop up randomly after some time. Then it is quite hard to get rid of it. Right now, I'm calling `pipeline_kafka.consume_end`, then removing from `pipeline_kafka.consumers` and `pipeline_kafka.offsets`, and finally dropping stream and view. Only then is it possible to setup up everything again.

I only have one stream per topic, and one view per stream.

[2017-09-18 14:09] michaelsauter commented on #40
I just noticed that when I look into `pipeline_kafka.offsets` for the consumers that die, the stored offsets look weird. The messages in Kafka are evenly distributed across the partitions, but the offets in PipelineDB are not. Some partitions are at the latest offsets, but others are way behind ...

[2017-09-18 17:00] derekjn commented on #40
@michaelsauter I don't believe we were ever able to repro this, and haven't seen it since but we're more than happy to take a look at it.

Ugh, sorry to hear that--that's not good at all. From what I can tell, the bad behavior you're seeing looks like this:

* You see a `tuple already updated by self` error thrown by a consumer process
* The processes that throw this error essentially die
* The of

[2017-09-19 06:37] michaelsauter commented on #40
When `tuple already updated by self` appears, then the consumer dies, and it is being started again, and `tuple already updated by self` appears again .... and so on in an endless loop.

The only way to stop it is what I described above - ending consumption, deleting everything and starting again from scratch.

The continuous view I'm filling is an aggregation of the individual messages. The count

[2017-09-19 16:18] derekjn commented on #40
@michaelsauter got it, this is helpful. We're looking into this and will report back when we know more.

[2017-09-25 13:55] michaelsauter commented on #40
@derekjn Any news on this one?

It hasn't occured the last week or so, but just now it happened again, right when I added a new stream/view/consumer - at that time another consumer which ran fine for a longer time failed. Then I deleted that old consumer (with stream and view), recreated it and now all are running again ...

[2017-09-25 16:11] derekjn commented on #40
@michaelsauter nothing just yet but that's actually good information. We will stress test against that scenario and hopefully get to the bottom of this soon.

[2017-09-26 06:02] carlSQ commented on #63
have the same problem in os x

[2017-09-29 01:02] derekjn opened #69 "Add flag to enable commit before COPY execution"
For certain workloads it may be preferable to commit offsets before executing the `COPY` into streams in order to prevent repeated execution of events causing failures.

[2017-09-29 04:44] usmanm commented on #69
I think a better approach might be to ignore all errors and continue to commit as is.

[2017-09-29 14:30] derekjn commented on #69
@usmanm crashes?

[2017-10-04 16:20] derekjn opened #70 "support for -o flag like in kafkacat"
(from @timnon, moved from https://github.com/pipelinedb/pipelinedb/issues/1872)

Is it possible to start the consumption using the last n messages? Comparable to -o -1000 for the last 1000 messages in kafkacat. Couldnt find anything start_offset:=-1000 doesnt work.

A normal use case is to pull some messages from the queue to avoid a cold start without any history. However, starting at the beginni

[2017-10-04 16:29] derekjn commented on #70
@timnon, this does seem useful but the main complication I see is that this would only really work on a per-partition level. Special offsets (such as `-1`) work across partitions because they have a relative meaning.

I believe what `kafkacat` does when specifying a relative offset without a specific partition is  simply consume from the relative offset across all partitions. So if you had a topic

[2017-10-05 08:32] timnon commented on #70
In my use-case, I analyse some click-stream history (for a recommender system) and do a lot of testing. However, every time the database scheme is changed or the database is simply reseted, the collected history from the kafka stream is lost. There are probably other ways to re-ingest the data, but the easiest is to simply repull some saved history to avoid a cold-start without any history. Starti

[2017-10-10 16:34] derekjn commented on #40
@michaelsauter can you try running the latest `master` now? We've had some trouble reproducing the exact behavior you're describing but have a couple of theories as to what might be going wrong. We just pushed a small change that addresses one of these theories.

And if it does happen again, can you share with us anything at all that you see in the logs?

[2017-10-12 08:12] timnon commented on #70
Just in case anybody is facing a similar issue and wants to cover this topic completely in psql. The following scripts starts the stream, waits five seconds, and then saves the current offsets in a tmp-table. Afterwards the stream is restarted with a modified offset. If the five seconds is not long enough, -2 will be taken as the start offset. The five seconds is clearly not a good way to handle t

[2017-10-26 10:30] michaelsauter commented on #40
@derekjn Sorry for the late reply. Thanks for looking into it!

I didn't find time yet to update to latest master, but I hope to get to it end of next week and then I'll report back here.

[2017-11-03 16:15] michaelsauter commented on #40
@derekjn I just encountered the issue again, then build a new image and I'm running latest master now. So far no issues.

[2017-11-03 19:24] derekjn commented on #40
@michaelsauter just to clarify, did you run into the issue again on an older build, and now you're running the latest `master`?

[2017-11-03 21:06] michaelsauter commented on #40
@derekjn Sorry for the confusion. I had the issue while still on the old build. Afterwards I made a new image from latest master and am running that now - no issues so far.

[2017-11-03 21:19] derekjn commented on #40
@michaelsauter got it, we'll stand by for any updates. Thanks!

[2017-11-14 05:23] EamonZhang opened #71 "New features: support pipeline_kafka.consume_status()"
function
pipeline_kafka.consume_begin()
pipeline_kafka.consume_end()

make consumer status change between start and stop , known what's the status current is also needed.

[2017-11-17 10:09] gb198871 commented on #18
hi,
I only use pipeline_kafka.consume_begin is no propelm, but use pipeline_kafka.emit_tuple have this propelm.

CREATE STREAM kafka_userlog_stream (time_tamp bigint, uuid text, age bigint,a1 text,a2 bigint,a3 numeric,a4 bool);

CREATE CONTINUOUS VIEW LOG_COUNT_VIEW WITH (sw = '30 minute') as select count(*) from kafka_userlog_stream;

CREATE TABLE DIM_AGE(begin_age int,end_age int, catalog varcha

[2017-11-17 10:11] gb198871 opened #72 "LOG: worker process: worker0 [pipeline] (PID 16887) was terminated by signal 11: Segmentation fault"
hi,
I only use pipeline_kafka.consume_begin is no propelm, but use pipeline_kafka.emit_tuple have this propelm.

CREATE STREAM kafka_userlog_stream (time_tamp bigint, uuid text, age bigint,a1 text,a2 bigint,a3 numeric,a4 bool);

CREATE CONTINUOUS VIEW LOG_COUNT_VIEW WITH (sw = '30 minute') as select count(*) from kafka_userlog_stream;

CREATE TABLE DIM_AGE(begin_age int,end_age int, catalog varcha

[2017-11-17 16:29] derekjn commented on #72
@gb198871 thanks for the report! Is there no stack trace in the logs?

[2017-11-17 16:30] derekjn commented on #18
@gb198871 let's use #72 for the remainder of the conversation as we get your issue fixed.

[2017-11-18 01:16] gb198871 commented on #72
@derekjn All are build by master pipelinedb\ pipeline_kafka\ librdkafka ，how can i config print stack trace logs ? thanks!!!

[2017-11-18 09:29] gb198871 commented on #72
2017-11-18 17:26:59 CSTLOG:  00000: [pipeline_kafka] kafka_userlog_stream <- pipelineUserlog (PID 4448): librdkafka error: [thrd:slave-67:9090/bootstrap]: slave-67:9090/3: Receive failed: Disconnected
2017-11-18 17:26:59 CSTLOCATION:  consume_topic_into_relation, pipeline_kafka.c:1008
PID:  4448
2017-11-18 17:26:59 CSTLOG:  00000: [pipeline_kafka] kafka_userlog_stream <- pipelineUserlog (PID 4446)

[2017-11-18 17:07] derekjn commented on #72
Relevant stack trace:

[code]

@gb198871 thanks, this is very helpful!

[2017-11-24 05:11] gb198871 commented on #72
@derekjn this is a bug or configuration problems ？ can repair ？thanks！

[2017-11-27 08:22] michaelsauter commented on #40
It was running fine the since then. Today I stopped all consumers, dropped all views and recreated them from the Kafka topics (we keep those messages a long time). Unfortunately now I have encountered `ERROR:  tuple concurrently updated`.  So not the same problem, and the effect is different (consumer exits, but doesn't go crazy), but there is still some issue ...

I wonder if it has to do with lo

[2017-11-28 06:41] michaelsauter opened #73 "Segfault when SSL certificates not found"
I got a segfault after `consume_begin`. Took me quite a while to figure out that the SSL certificates where missing ... would be nice to have a proper error message that indicates the problem.

I had specified the certificates like this:

[code]

[2017-11-28 18:25] derekjn commented on #73
@michaelsauter good find, you made this easy for us. We'll have this cleaned up this week.

[2017-11-28 23:53] derekjn commented on #72
@gb198871 are you able to provide any sample data to reproduce this issue with? If not we'll keep digging but that would make it really easy for us.

[2017-11-29 01:37] gb198871 commented on #72
I am try to debug code,find out throw exception row,but i don't know how to repair:
`void rd_kafka_msg_destroy (rd_kafka_t *rk, rd_kafka_msg_t *rkm) {

	if (rkm->rkm_flags & RD_KAFKA_MSG_F_ACCOUNT) {
		rd_dassert(rk || rkm->rkm_rkmessage.rkt);
		rd_kafka_curr_msgs_sub(
			rk ? rk :
			rd_kafka_topic_a2i(rkm->rkm_rkmessage.rkt)->rkt_rk,
			1, rkm->rkm_len);
	}

	if (likely(rkm->rkm_rkmessage.rkt !=

[2017-11-29 01:53] gb198871 commented on #72
I am try debug code ,find throw exception on this row,but i don’t know how to repairkkk2017-11-29 09:09:18 CSTLOG:  [pipeline_kafka] kafka_userlog_stream <- pipelineUserlog (PID 9359): librdkafka error: [thrd:slave-75:9090/2]: slave-75:9090/2: Receive failed: Disconnected
2017-11-29 09:14:18 CSTLOG:  [pipeline_kafka] kafka_userlog_stream <- pipelineUserlog (PID 9360): librdkafka error: [thrd:slave

[2017-12-01 21:18] dwierenga commented on #63
In case others stumble upon this, building `librdkafka` with the `configure` line linked by @derekjn and then building `pipeline_kafka` against that worked for me (Mac OSX High Sierra).

[2017-12-14 03:17] stromhan commented on #73
@derekjn  this bug has fixed?

[2018-01-31 11:24] weiranth opened #74 "After pipeline_kafka.consume_begin , the pipelinedb error"
ERROR:  [pipeline_kafka] msg_stream <- wuhan (PID 4522): failed to acquire metadata: Local: Broker transport failure
LOG:  worker process: [kafka consumer] msg_stream <- test_topic (PID 4522) exited with exit code 1

[2018-02-27 14:37] maver1ck commented on #42
Hi,
What about Avro support here ?

[2018-04-24 06:49] gb198871 opened #75 "Use security.protocol=SASL_PLAINTEXT error"
pipeline_kafka.consumer_config = 'security.protocol=SASL_PLAINTEXT,sasl.mechanisms=PLAIN,sasl.username=admin,sasl.password=admin-secret'

2018-04-24 14:21:04 CSTLOG: worker process: [kafka consumer] kafka_ssl_stream <- pipelinedbtest (PID 23462) exited with exit code 1
Segmentation fault (PID 23464)
version: PipelineDB at revision on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red H

[2018-04-25 00:45] #75 closed, assigned to nobody

[2018-04-25 00:54] gb198871 commented on #75
I think this is a bug.
pipeline_kafka.c file **configure_consumer** function change SplitIdentifierString to SplitDirectoriesString,Because SplitIdentifierString change config string to lower.

static void configure_consumer(rd_kafka_conf_t *conf, rd_kafka_topic_conf_t *topic_conf)
{
	List *opts;
	ListCell *lc;
	Assert(consumer_config);

	if (!SplitDirectoriesString(consumer_config, ',', &opts))

[2018-04-25 00:57] gb198871 commented on #73
@stromhan  You can try  https://github.com/pipelinedb/pipeline_kafka/issues/75

[2018-09-10 08:44] sangli00 opened #76 "Need modify Makefile"
error:
[code]
SHLIB_LINK += -lz -lpthread -lssl -lsasl2 -lrt

need add -lsasl2

[2018-09-12 07:50] #76 closed, assigned to nobody

[2018-09-12 07:51] sangli00 opened #77 "Only support 0.9.1 kafka?"
```git clone -b 0.9.1 https://github.com/edenhill/librdkafka.git ~/librdkafka```
if I used 0.10+ is OK?

[2018-09-12 16:22] derekjn commented on #77
@sangli00 you can try, you'd have to ask `librdkafka` about their compatibility between those two versions.

[2018-09-13 01:19] #77 closed, assigned to nobody

[2018-10-01 07:51] #66 closed, assigned to nobody

[2018-10-26 12:41] ikingnet opened #78 "PipelineDB 1.0 compatibility"

[2018-10-26 21:30] derekjn commented on #78
@ikingnet we'll be publishing a `pipeline_kafka` release that supports PipelineDB `1.0.0` early next week. I'll reply here as soon as it's available, there are only a couple of minor changes we need to make.

[2018-11-11 21:41] devsschmidt commented on #78
any news on this issue?

[2018-11-12 09:32] taojin0505 commented on #78
could not install pipeline_kafka on PipelineDB 1.0.
[code]

[2018-11-26 09:58] sunmatus commented on #78
waiting for...

[2018-12-06 22:05] iandelahorne commented on #78
I'm curious about this as well, we'd like to update to PipelineDB 1.0 and we use pipeline_kafka

[2018-12-09 00:08] derekjn commented on #78
Apologies for the delay here guys--we've been insanely busy with onboarding new customers after the extension release. We're aiming to get `pipeline_kafka with support for PipelineDB `1.0` out this coming week. It requires very little work so it shouldn't be much longer

Thanks for your patience and understanding guys, we're on it!

[2018-12-09 18:40] derekjn opened #79 "Expose consumer niceness configuration parameter"

[2018-12-17 19:38] derekjn commented on #78
@ikingnet @devsschmidt @taojin0505 @sunmatus @iandelahorne `pipeline_kafka` is now compatible with PipelineDB core `1.0.0`. You'll want to use the latest release revision:

https://github.com/pipelinedb/pipelinedb/releases/tag/1.0.0-9

Thank you all for your patience on this--our apologies that it took us longer than we would have liked. Let us know if you have any issues running `pipeline_kafka`

[2018-12-17 19:38] #78 closed, assigned to nobody

[2018-12-17 19:53] devsschmidt commented on #78
How can we install pipeline_kafka ? as usualy self build or do we just need to update pipelinedb?

[2018-12-17 19:54] devsschmidt commented on #78
btw, wonderful News. i'm very eager to try it.

[2018-12-17 21:40] derekjn commented on #78
@devsschmidt `pipeline_kafka` has always required building from source.

[2018-12-18 01:32] cailin-lai commented on #78
Very nice! Sounds like I'd schedule the migration works from v0.9.7 (with pipeline_kafka). ;-)

[2019-01-22 10:15] GangLiCN opened #81 "Compile src code failed !"
Hello,

When compiling "pipeline-kafka" src code, I hit below error:

gcc -Wall -Wmissing-prototypes -Wpointer-arith -Wdeclaration-after-statement -Wendif-labels -Wmissing-format-attribute -Wformat-security -fno-strict-aliasing -fwrapv -fexcess-precision=standard -O2 -fPIC -I. -I./ -I/home/postgres/pg11/include/server -I/home/postgres/pg11/include/internal  -D_GNU_SOURCE   -c -o pipeline_kafka.o p

[2019-01-25 01:42] miaojianxin opened #82 "compile error：stream_copy_hook not defined"
when i compile the latest  pipeline_kafka code ，the pipelinedb is1.0.0. ，postgresql is 10.3,
i got the compile error:
pipeline_kafka.c:1485:2: 错误：‘stream_copy_hook’未声明(在此函数内第一次使用)
  stream_copy_hook = copy_iter_hook;

that means  the stream_copy_hook  not defined, how can i do , thank you

[2019-02-01 17:39] derekjn commented on #82
@miaojianxin can you make sure you have the latest PipelineDB package revision? `stream_copy_hook` was added in package revision `9` so you're probably using an earlier revision.

[2019-02-01 17:40] derekjn commented on #81
@GangLiCN for PipelineDB `1.0.0` you'll want to build `pipeline_kafka` from the `master` branch.

[2019-02-02 01:32] miaojianxin commented on #82
yes， iuse the latest master branch， get the code from download https://github.com/pipelinedb/pipeline_kafka.git

[2019-02-02 01:45] derekjn commented on #82
@miaojianxin I'm actually referring to PipelineDB, not `pipeline_kafka`. You need to install a PipelineDB package `>=` revision `9`. For example, the latest package revision is `11`, which you can download from our release archives:

https://github.com/pipelinedb/pipelinedb/releases/tag/1.0.0-11

You can also just install the latest package from our [apt/yum](http://docs.pipelinedb.com/installatio

[2019-02-02 01:47] miaojianxin commented on #82
ok， i got it ，thank you

[2019-02-12 11:53] destinokm opened #83 "undefined symbol: LZ4F_compressUpdate"
error:

    could not load library "/usr/lib/postgresql/pipeline_kafka.so": /usr/lib/postgresql/pipeline_kafka.so: undefined symbol: LZ4F_compressUpdate

also what solved the issue for me was changing  from `-lz -lpthread -lssl`
in makefile to `-lz -llz4 -lpthread -lssl`

[2019-02-14 06:13] jamessewell opened #84 "Write to (non-stream) relation"
Hi,

I can't use this to write to a normal relation (not a PipelineDB stream).

Is there some reason this doesn't work?

[2019-03-01 10:10] vnnw opened #85 "could not load library "/usr/pgsql-11/lib/pipeline_kafka.so" with PG 11 and pipelinedb 1.0 on Centos 7"
I am running PG 11 and pipelinedb 1.0 on Centos 7.
I compiled and make installed "librdkafka" and "pipeline_kafka" without any errors.
But then I couldn't restart PG 11 agian.
Here is the error mesage:

[code]

[2019-03-05 15:14] yurinek opened #86 "Install for pg 11: pipeline_kafka.c:32:20: fatal error: config.h: No such file or directory"
Hi ,
I try to install it for pg 11 on debian stretch. On 2 servers I got the same error.

My script:

sudo apt-get -y install git gcc g++ zlib1g-dev make postgresql-server-dev-${NEWVERSION}

mkdir ~/git

git config --global http.sslVerify false

git clone -b v0.11.6 https://github.com/edenhill/librdkafka.git ~/git/librdkafka
git clone https://github.com/pipelinedb/pipeline_kafka.git  ~/git/pipelin

[2019-03-20 15:32] devsschmidt commented on #86
the issue is that pipelinedb package has not been installed
`sudo apt install -y pipelinedb-postgresql-11`
solved the problem

[2019-03-25 07:44] val-sy commented on #63
the link is not found
when i installed librdkafka-0.9.5.x and pipeline_kafka-0.9.5,pipelinedb version is 9.5 ,after add to pipelinedb.conf ,restart pipelinedb,get an error:
FATAL:could not load library "/pipelinedb/lib/pipelinedb/pipeline_kafka.so":/pipelinedb/lib/pipelinedb/pipeline_kafka.so:undefined symbol:inflate

sorry, I was so careless,the quesion is solved.

[2019-03-28 08:26] val-sy opened #87 "Need help!!ERROR:[pipeline_kafka] y_kk_stream <- xxxxxxxx(pid xxxx) :failed to acquire metadata:local:timed out"
when i config as readme.md，start consume_begin，pipelinedb logfile notice an error: failed to acquire metadata : local : timed out ,why?
consume_begin consume topic use kafkacat?where can config this?
another question:when consume topic ,it need security certificate? where can config it ?

thanks!

[2019-04-02 09:31] sangli00 opened #88 "undefined symbol: sasl_client_step"
PipelineDB version:pipelinedb-1.0.0-13
postgres version:10.5

detail error log:
2019-04-02 02:28:38.300 PDT [38264] FATAL:  could not load library "/L/postgres/pg_10_5/lib/pipeline_kafka.so": /L/postgres/pg_10_5/lib/pipeline_kafka.so: undefined symbol: sasl_client_step

[2019-04-05 13:08] guitmz opened #89 "SASL_PLAINTEXT error"
I have noticed that the issue https://github.com/pipelinedb/pipeline_kafka/issues/75 was closed without a follow up.

I have installed pipeline_kafka last week and got the exact same problem and the solution proposed at the issue mentioned above worked just fine. Any reasons why this change is not implemented yet?

[2019-04-10 13:30] analytik opened #90 "Consumer format settings are not displayed correctly"
Using PipelineDB 1.0 and pipeline_kafka built from latest master (as of today), when I run commands

[code]
it runs successfully, but when I try to select it, it always claims the format is CSV:
[code]

However, JSON operations like this seem to work:
[code]

Am I doing something incorrectly, or is this a bug, or is this format something unrelated?

[2019-04-10 13:46] analytik opened #91 "Consumer does not automatically reconnect to Kafka"
When using a 1-node cluster, when shutting down Kafka and bringing it back up, pipeline_kafka consumers don't reconnect automatically, and don't consume any new messages:

[code]

What's worse, it seems that the last processed offset got corrupted somehow:
[code]

Expected behavior: Consumers reconnect automatically without user's intervention, and starts processing new messages.

[2019-04-22 09:23] yyscamper opened #92 "no release since 26 Dec 2016"
I see the latest release is 0.9.5 which published on 26 Dec 2016. I wonder why no release for nearly 2.5 years! Lack of resource?

[2019-04-22 09:34] yyscamper opened #93 "release debian package"
These days, I spent quite a lot time to build the librdkafka and pipeline_kafka bases on pipelinedb docker. If pipeline_kafka could release a debian package, this process will be quite easy.

[2019-06-13 01:54] yyscamper opened #94 "not works with pg11"
I have built a docker using pg11 + pipelinedb 1.0 + librdkafka-0.11.6 + latest pipeline_kafka (see Dockerfile: https://github.com/MetrodataTeam/mdtdb/blob/master/pipelinedb_kafka/Dockerfile). I found the data that pushed into kafka topic was not automatically inserted into stream and related views. But the same works for PipelineDB 0.9.

Since pipelinedb has a fundamental change from 0.9 to 1.0, s

[2019-07-02 06:07] pecanNBU opened #95 "pipeline_kafka make error"
the error is:
pipeline_kafka.c:21:33: fatal error: access/htup_details.h: No such file or directory

and pg version is pg 11

[2019-07-26 08:59] randylouws commented on #94
I encounter the same problem.
Here is versions of postgresql i have installed.

- pipelinedb-postgresql-11.x86_64       1.0.0-9                         installed
- postgresql11.x86_64                   11.4-1PGDG.rhel7                @pgdg11
- postgresql11-contrib.x86_64           11.4-1PGDG.rhel7                @pgdg11
- postgresql11-devel.x86_64             11.4-1PGDG.rhel7                @pgdg1

[2019-09-12 03:26] AzraelJi commented on #95
顶你！同样的问题！无法安装pipelekafka插件！！！

[2019-09-12 03:29] AzraelJi commented on #94
pg_config需要将pg的安装路径bin写道/etc/profile根目录里去

[2019-09-12 03:41] AzraelJi opened #96 "pipeline_kafka编译失败问题"
Makefile:19: /usr/pgsql-10/lib/pgxs/src/makefiles/pgxs.mk: 没有那个文件或目录
make: *** 没有规则可以创建目标“/usr/pgsql-10/lib/pgxs/src/makefiles/pgxs.mk”。 停止。

[2019-09-16 10:33] AzraelJi opened #97 "请问1.0.0插件支持kafka版本号是多少呢？"

[2019-09-17 01:37] #95 closed, assigned to nobody

[2019-11-05 07:05] VisionaryAries opened #98 "cannot implemented kafka json meesage"
2019-11-05 02:04:30.743 EST [22012] LOG:  [pipeline_kafka] payload_stream <- MES_MIXPACK_H (PID 22012): librdkafka error: Local: Not implemented

The extension information:
 pipeline_kafka | 1.0.0   | pipeline_kafka | PipelineDB extension for Kafka support
 pipelinedb     | 1.0.0   | public         | PipelineDB

The process for pipelinedb:
CREATE FOREIGN TABLE payload_stream (payload json) SERVER

[2019-11-05 07:16] VisionaryAries commented on #97
I use kafka_2.12-2.3.0.

[2019-11-05 07:20] VisionaryAries commented on #96
Please make sure you have installed postgresql10-devel.

[2020-03-04 09:09] motian-pili123 commented on #63
@val-sy "/pipelinedb/lib/pipelinedb/pipeline_kafka.so":/pipelinedb/lib/pipelinedb/pipeline_kafka.so:undefined symbol:inflate

How do you solve this problem？

[2020-03-04 09:13] motian-pili123 commented on #85
@vnnw
------could not load library "/usr/pgsql-11/lib/pipeline_kafka.so"
Excuse me, have you solved the problem? How did you solve it

[2021-09-24 07:23] #98 closed, assigned to nobody